{% extends 'base.html' %}

{% block title %}Create Basketball League{% endblock %}

{% block breadcrumb-page %}<li><a href="{% url 'basketball:leagues' %}">Basketball</a></li><li class="active">Create League</li>{% endblock breadcrumb-page %}

{% block content %}
  <h1>Create League</h1>
  {% if league_form %}
    <form method="post" action="{% url 'basketball:create-league' %}" role="form">
      {% csrf_token %}
      <div class="form-group">
      {{ league_form.as_p }}
      </div>
      <button type="submit" class="btn btn-default">Create</button>
    </form>
  {% else %}
    <p>There was a problem with the create league form.</p>
  {% endif %}
{% endblock content %}