{% extends 'base.html' %}

{% block title %}Edit Player Info{% endblock %}

{% block breadcrumb-page %}
  <li><a href="{% url 'basketball:leagues' %}">Basketball</a></li>
  <li class="active">Edit Player Info</li>
{% endblock breadcrumb-page %}

{% block content %}
  <h1>Edit Player Info</h1>
  {% if player_form and player %}
    <form method="post" action="{% url 'basketball:edit-player-info' player.pk %}" role="form">
      {% csrf_token %}
      <div class="form-group">
        {{ player_form.as_p }}
      </div>
      <button type="submit" class="btn btn-default">Save</button>
    </form>
  {% else %}
    <p>There was a problem with the create league form.</p>
  {% endif %}
{% endblock content %}