{% extends 'base.html' %}

{% block title %}Edit Basketball League{% endblock %}

{% block breadcrumb-page %}
  <li><a href="{% url 'basketball:leagues' %}">Basketball</a></li>
  <li class="active">Edit League</li>
{% endblock breadcrumb-page %}

{% block content %}
  <h1>Edit League</h1>
  {% if league_form %}
    <form method="post" action="{% url 'basketball:edit-league-info' league.pk %}" role="form">
      {% csrf_token %}
      <div class="form-group">
        {{ league_form.as_p }}
      </div>
      <button type="submit" class="btn btn-default">Save</button>
    </form>
  {% else %}
    <p>There was a problem with the create league form.</p>
  {% endif %}
{% endblock content %}