{% extends 'base.html' %}

{% block title %}
  {% if league %}
    {{ league.name }}
  {% else %}
    League Not Found
  {% endif %}
{% endblock %}

{% block breadcrumb-page %}
  <li><a href="{% url 'basketball:leagues' %}">Basketball</a></li>
  <li class="active">Leagues</li>
{% endblock breadcrumb-page %}

{% block content %}
  <h1>{{ league.name }}</h1>
  {% if team_list %}
    <ul>
      {% for team in league.team_set %}
        <li><a href="{% url 'basketball:team-info' team.pk %}">{{ team.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No teams exist in that league yet.</p>
  {% endif %}
{% endblock content %}