{% extends 'base.html' %}

{% block title %}
  {% if league %}
    {{ league.name }}
  {% else %}
    League Not Found
  {% endif %}
{% endblock %}

{% block breadcrumb-page %}
  <li><a href="{% url 'basketball:leagues' %}">Basketball</a></li>
  <li class="active">League</li>
{% endblock breadcrumb-page %}

{% block content %}
  {% if league %}
    <h1>{{ league.name }}</h1>
  {% endif %}

  {% if user.is_superuser %}
    <div>
      <a href="{% url 'basketball:draft-league' league.pk %}"><button type="button" class="btn">Auto-Draft</button></a>
      <a href="{% url 'basketball:edit-league-info' league.pk %}"><button type="button" class="btn btn-warning">Edit</button></a>
      <a href="{% url 'basketball:delete-league' league.pk %}"><button type="button" class="btn btn-danger">Delete</button></a>
    </div>
  {% endif %}

  {% if league.team_set.count > 0 %}
    <ul>
      {% for team in league.team_set.all %}
        <li><a href="{% url 'basketball:team-info' team.pk %}">{{ team.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No teams exist in this league yet.</p>
  {% endif %}
{% endblock content %}