{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block breadcrumb-page %}
  <li><a href="{% url 'basketball:leagues' %}">Basketball</a></li>
  <li class="active">Register</li>
{% endblock breadcrumb-page %}

{% block content %}
  <h1>Register</h1>
  {% if user_form and player_form %}
    <form method="post" action="{% url 'basketball:registration' %}" role="form">
      {% csrf_token %}
      <div class="form-group">
        {{ user_form.as_p }}
        {{ player_form.as_p }}
      </div>
      <button type="submit" class="btn btn-default">Register</button>
    </form>
  {% else %}
    <p>There was a problem with the create league form.</p>
  {% endif %}
{% endblock content %}